body {
	min-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

header {
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	z-index: 7;
	display: flex;
	justify-content: space-around;
	background-color: rgb(0, 0, 0);
	color: white;
	width: 100%;
	height: 3em;
	padding: 0.6em 20em 0 20em;
}

section {
	position: relative;
}

.capa {
	display: flex;
	align-items: center;
	background-image: url("img/fundo.png");
	background-position: -10em -1em;
	width: 50vw;
	height: calc(100vh + 40px);
	position: relative;
	padding-bottom: 5em;
	background-color: black;
}

.vidro {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.tinta {
	margin: auto;
	height: 40vh;
	width: 100vw;
	position: absolute;
	z-index: 2;
}

.coisas {
	align-items: safe;
	display: flex;
}

.pronatec {
	margin: auto;
	display: flex;
	z-index: 5;
	font-family: "Black Ops One", system-ui;
	font-weight: 400;
	font-style: normal;
	font-size: calc(5vw + 20px);
	color: rgb(0, 255, 153);
}

.texto {
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: -2em;
}

h3 {
	display: flex;
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-size: calc(2vw + 10px);
	z-index: 5;
	margin: auto;
	color: white;
	letter-spacing: 0.5em;
}

.sobre-nos {
	width: 50vw;
	height: calc(100vh + 40px);
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: "Tomorrow", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
	display: flex;
	justify-content: left;
	margin: 0.5em 0 0 0.5em;
}

p {
	font-family: "Sansation", sans-serif;
	font-weight: 400;
	font-style: normal;
	align-self: baseline;
	margin: 1em 1em 0 1em;
}

h2 {
	font-family: "Sansation", sans-serif;
	font-weight: bold;
	font-style: normal;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 20px;
	align-self: center;
}

.chads {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
}
img {
	height: 7em;
	width: 7em;
	border-radius: 10em;
}

button {
	font-family: "Questrial", sans-serif;
	font-weight: 400;
	font-style: normal;
	box-shadow: 7px 5px 0px 0px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 7px 5px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 7px 5px 0px 0px rgba(0, 0, 0, 1);
	height: 95px;
	width: 50%;
	margin: auto;
	margin-top: 4em;
	background-color: rgb(0, 255, 153);
	font-size: 20px;
}

.papel {
	flex-grow: 1;
	width: 100px;
	height: calc(100% + 26px);
	background-image: url(img/papel.png);
	z-index: 2;
	position: absolute;
	overflow: hidden;
	margin-top: -26px;
	right: 100%;
}

@media (max-width: 800px) {
	.coisas {
		display: flex;
		flex-direction: column;
	}

	header {
		width: ;
	}

	.capa {
		display: flex;
		width: 100vw;
		height: 15em;
	}

	.sobre-nos {
		display: flex;
		width: 100vw;
		height: 100%;
	}

	.papel {
		display: none !important;
	}

	.papel2 {
		margin-top: -30px;
		background-image: url(img/papel-deitado.png);
		z-index: 5;
		width: 100%;
		height: 30px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
